<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />

    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/highscores.css" />
    <title>HighScores</title>
  </head>
  <body>
    <div class="container">
      <!-- <img class="logo" src="images/Logo.svg" alt="Simon Game Logo" /> -->
      <!-- <img class="logo_text" src="images/Logo_Text.svg" alt="Simon Game" /> -->

      <h2>HighScores</h2>
      <div class="table">
        <div class="number">#</div>
        <div class="name">Username</div>
        <div class="level">Level</div>
      </div>
      <% usersWithHighscores.forEach((score,index)=>{ %>
        <%if(score.id===scoreID){%>
          <%console.log(score._id," ",scoreID)%>
          <div class="table highlight">
        <%}else{%>
          <div class="table">
        <%}%>
        <div class="number"><%=startRank+index%></div>
        <div class="name"><%= score.userid.username %></div>
        <div class="level"><%= score.level %></div>
      </div>
      <% }) %>
      <div class="pageContainer">
        <% if(currentPage==1){ %>
        <a class="button active" href="?page=1&scoreID=<%= scoreID || _ %>">1</a>
        <% }else{ %>
        <a class="button" href="?page=1&scoreID=<%= scoreID || _ %>">1</a>
        <% }%> <% if(currentPage >3){ %>
        <div>-</div>
        <%}%> <% if(currentPage > 2 ){ %>
        <a class="button" href="?page=<%= currentPage-1 %>&scoreID=<%= scoreID || _ %>"
          ><%= currentPage-1 %></a
        >
        <% } %> <% if(currentPage != 1 && currentPage != lastPage){ %>
        <a class="button active" href="?page=<%= currentPage %>&scoreID=<%= scoreID || _ %>"
          ><%= currentPage %></a
        >
        <% } %> <% if(currentPage < lastPage-1) {%>
        <a class="button" href="?page=<%= currentPage + 1 %>&scoreID=<%= scoreID || _ %>"
          ><%= currentPage+1 %></a
        >
        <%}%> <% if(currentPage <= lastPage-3){ %>
        <div>-</div>
        <%}%> <%if(currentPage==lastPage){%>
        <a class="button active" href="?page=<%= lastPage %>&scoreID=<%= scoreID %>"
          ><%= lastPage %></a
        >
        <%}else{%>
        <a class="button" href="?page=<%= lastPage %>&scoreID=<%= scoreID %>"><%= lastPage %></a>
        <%}%>
      </div>
      <a class="button" href="/">Go Back</a>
    </div>
  </body>
</html>
